.modal {
  z-index: 100;
  position: fixed;
  top: 15vh;
  left: 10%;
  width: 80%;
  background: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 8px;
}

.modal__header {
  width: 100%;
  padding: 1rem 0.5rem;
  background: #f50057;
  color: white;
}

.modal__header h3 {
  margin: 0.5rem;
  color: white;
}

.modal__content {
  padding: 1rem 0.5rem;
}

.modal__footer {
  padding: 1rem 0.5rem;
}

@media (min-width: 768px) {
  .modal {
    left: calc(50% - 20rem);
    width: 40rem;
  }
}

.modal-enter {
  transform: translateY(-10rem);
  opacity: 0;
}

.modal-enter-active {
  transform: translateY(0);
  opacity: 1;
  transition: all 200ms;
}

.modal-exit {
  transform: translateY(0);
  opacity: 1;
}

.modal-exit-active {
  transform: translateY(-10rem);
  opacity: 0;
  transition: all 200ms;
}
hr {
  width: 70%;
  border-style: none;
  border-top-style: dotted;
  border-color: dimgray;
  border-width: 5px;
  margin: 10px auto;
}
.navbar-modal-content {
  flex-direction: column;
}
.modal-content {
  padding: 4px;
}
.header-content {
  display: flex;
  align-items: center;
}
