body {
  padding: 0px;
  margin: 0px;
  font-family: "Ubuntu", sans-serif;
}

.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
